html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Candara", "Courier New";
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 14px;
    background-color: grey;
}

::-webkit-scrollbar-thumb:hover {
    width: 15px;
    background-color: orange;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: orange;
}

#header {
    position: sticky;
    top: 0;
    z-index: 99;
    font-family: "Courier New";                
    height: 88px;
}

#logoutButton {
    border: 0px;
    font-size: 18px;
    border-radius: 10px;
    background-color: black;
    color: orange;
    width: 150px;   
    height: 60px;
    line-height: 40px;
    padding: 10px;
    margin: 30px;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    width: auto;
    z-index: 99;
    display: block;
    margin-top: 26px;
}

#line {
    position: sticky;
    top: 88px;
    z-index: 99;
    background-color: orange;
    height: 8px;
    
}

#user {
    width: 50px;
    height: auto;
    margin-top: 20px;
}

#sidebar {
    width: 20%;
    height: 100%;
    background-color: orange;
    position: fixed;
    overflow-x: hidden;
    z-index: 99;
}

#navigationMenu {
    margin-top: 40px;
    text-align: left;
}

#navigationMenu li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
}

#navigationMenu a {
    margin-top: 40px;
    font-size: 18px;
    color: black;
}

.active {
    font-weight: bold;
    border-radius: 10px;
}

#main-body {    
    margin-left: 20%;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.container-fluid {
    background-color: rgba(0, 0, 0, 0.7);
}

.kedudukan {
    color: white;
    margin: 20px;
}

.desc {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0px auto;
}

.screen {
    width: 70%;
    height: 4vh;
    color: black;
    border: 2px solid darkorange;;
    margin: 20px auto;
    text-align: center;
}

.screen h5 {
    color: white;
    width: 100%;
    line-height: 3vh;
}

input[type="checkbox"] {
    display: none;
}

table {
    margin: 50px auto 20px auto;
}

tr {
    height: 3vw;
    margin: 0px;
    vertical-align: middle;
}

td {
    width: 3.4vw;
    height: 3.4vw;
    text-align: center;
    user-select: none;
}

input[type="checkbox"] + label {
    background-color: darkorange;
    width: 2.9vw;
    height: 2.9vw;
    line-height: 2.8vw;
    border-radius: 1vw;
    margin: auto;
}

input[type="checkbox"]:checked + label {
    background-color: red;
    margin: 5px;
    width: 2.9vw;
    height: 2.9vw;
    line-height: 2.8vw;
    border-radius: 1vw;
    margin: auto;
}