html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Candara", "Courier New";
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#header {
    position: sticky;
    top: 0;
    z-index: 99;
    font-family: "Courier New";
    height: 88px;
}

#logoutButton {
    border: 0px;
    font-size: 18px;
    border-radius: 10px;
    background-color: black;
    color: orange;
    width: 150px;   
    height: 60px;
    line-height: 40px;
    padding: 10px;
    margin: 30px;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    width: auto;
    z-index: 99;
    display: block;
    margin-top: 26px;
}

#line {
    position: sticky;
    top: 88px;
    z-index: 99;
    background-color: orange;
    height: 8px;
    
}

#user {
    width: 50px;
    height: auto;
    margin-top: 20px;
}

#sidebar {
    width: 20%;
    height: 100%;
    background-color: orange;
    position: fixed;
    overflow-x: hidden;
    z-index: 99;
}

#navigationMenu {
    margin-top: 40px;
    text-align: left;
}

#navigationMenu li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
}

#navigationMenu a {
    margin-top: 40px;
    font-size: 18px;
    color: black;
}

.active {
    font-weight: bold;
    border-radius: 10px;
}

#main-body {    
    margin-left: 20%;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.container-fluid {
    background-color: rgba(0, 0, 0, 0.7);
}

#slideshow {
    height: 430px;
}

.slidershow {
    width: 700px;
    height: 360px;
    overflow: hidden;
}

.middle {
    margin-left: 90%;
    margin-top: 31%;
    transform: translate(-50%,-50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    opacity: 0.85;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

.bar:visited {
    color: white;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
    background-color: white;
}

.slides {
    width: 3500px;
    height: 100%;
    display: flex;  
}

.slide {
    width: 700px;
    height: 100%;
    transition: 0.6s;
}

.slide img {
    width: 700px;
    height: auto;
    position: relative;
    bottom: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}

#r5:checked ~ .s1 {
    margin-left: -80%;
}