html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Candara", "Courier New";
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 14px;
    background-color: grey;
}

::-webkit-scrollbar-thumb:hover {
    width: 15px;
    background-color: orange;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: darkorange;
    border-radius: 10px;
}

#header {
    position: sticky;
    top: 0;
    z-index: 99;
    font-family: "Courier New";
    height: 88px;
}

#logoutButton {
    border: 0px;
    font-size: 18px;
    border-radius: 10px;
    background-color: black;
    color: orange;
    width: 150px;   
    height: 60px;
    line-height: 40px;
    padding: 10px;
    margin: 30px;
}


#logo {
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    width: auto;
    z-index: 99;
    display: block;
    margin-top: 26px;
}

#line {
    position: sticky;
    top: 88px;
    z-index: 99;
    background-color: orange;
    height: 8px;
}

#user {
    width: 50px;
    height: auto;
    margin-top: 20px;
    height: 100%;
}

#sidebar {
    width: 20%;
    height: 100%;
    background-color: orange;
    position: fixed;
    overflow-x: hidden;
    z-index: 99;
}

#main-body {    
    margin-left: 20%;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#title {
    background-color: orange;
    border-radius: 20px;
    height: 60px;
    width: 420px;
    margin-bottom: 30px;
    vertical-align: middle;
    margin-top: 50px;
    margin-left: 30px;
}

#title h3 {
    font-weight: bold;
    line-height: 50px;
    width: 420px;
    line-height: 60px;
    text-align: center;
    color: black;
}

input[type=file] {
    border: 1px solid orange;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    color: orange;
    width: 250px;
    height: 50px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    border: 1px solid orange;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: orange;
    color: black;
    width: 150px;
    height: 60px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 60px; 
    margin-left: 50px;   
}

form {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.pendaftaran {
    background-color: black;
    color: orange;
    margin: 8px 0;
    height: 50px;
    border: 1px solid orange;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

b {
    font-size: 24px;
}

#user {
    width: 50px;
    height: auto;
    margin-top: 20px;
    height: 100%;
}

#sidebar {
    width: 20%;
    height: 100%;
    background-color: orange;
    position: fixed;
    overflow-x: hidden;
    z-index: 99;
}

#navigationMenu {
    margin-top: 40px;
    text-align: left;
}

#navigationMenu li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
}

#navigationMenu a {
    margin-top: 40px;
    font-size: 18px;
    color: black;
}

.active {
    font-weight: bold;
    border-radius: 10px;
}

.container-fluid {
    background-color: rgba(0, 0, 0, 0.7);
}

#jenisPenggunaBaru {
    text-align-last: center;
}

